﻿@model IWNTCRM.DANDYAIR.UI.Models.Login
@if (User.Identity.IsAuthenticated)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <div class="logo"><div  class="logo1">DandyAir</div></div>
    <div class="login-block">
        <h1>Login</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

            <div style="padding-left: 12px;">
                <div style="float: left;">@Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "remME" } })</div>
                <div style="margin-left: 25px;">RememberMe</div> 
            </div>
            <button>Sign In</button>
        </div>
}

<style>
    .remME {
        width: 14px !important;
        height: 14px !important;
    }


    .logo1 {
        text-align: center;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 30px;
    }


    .logo {
        width: 213px;
        height: 36px;
        /*background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;*/
        margin: 30px auto;
    }

    .login-block {
        width: 320px;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        border-top: 5px solid #ff656c;
        margin: 0 auto;
    }

        .login-block h1 {
            text-align: center;
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .login-block input {
            width: 100%;
            height: 42px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            font-size: 14px;
            font-family: Montserrat;
            padding: 0 20px 0 50px;
            outline: none;
        }

            .login-block input#username {
                background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
                background-size: 16px 80px;
            }

                .login-block input#username:focus {
                    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
                    background-size: 16px 80px;
                }

            .login-block input#password {
                background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
                background-size: 16px 80px;
            }

                .login-block input#password:focus {
                    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
                    background-size: 16px 80px;
                }

            .login-block input:active, .login-block input:focus {
                border: 1px solid #ff656c;
            }

        .login-block button {
            width: 100%;
            height: 40px;
            background: #ff656c;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #e15960;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            font-family: Montserrat;
            outline: none;
            cursor: pointer;
        }

            .login-block button:hover {
                background: #ff7b81;
            }
</style>
