﻿<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DandyAir </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/waitme")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height:100%">
        @if (User.IsInRole("admin") || User.IsInRole("staff"))
         {
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("DandyAir", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Units", "ViewUnits", "Unit")</li>
                                <li>@Html.ActionLink("Bookings", "ViewBookings", "Booking")</li>
                                <li>@Html.ActionLink("Installers", "ViewInstallers", "Installer")</li>
                                @if(User.IsInRole("admin")){<li> @Html.ActionLink("Users", "ViewUsers", "User"); </li>}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Logout", "LogOut", "Login") </li>
                            </ul>
                        </div>
                    </div>
                </div>
        }

    @*<div class="container body-content">*@
    <div class="body-content" style="height:100%">
        @RenderBody()
        <footer style="position: fixed;bottom: 0;">
            <p>&copy; @DateTime.Now.Year - I Want That CRM</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/bootstrap-multiselect.js")
    @Scripts.Render("~/bundles/waitme")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
