﻿@model List<IWNTCRM.DANDYAIR.Entities.InstallerJobs>


<div class="wrap">
    @foreach (var item in Model)
    {
        <div class="wrap1" id="ins_@item.InsID">
            <div class="jheaderdiv">
                <div class="jheaderdiv1">@item.InstallerName</div>
                <div class="jheaderdiv2">
                    <div style="display:table;width:100%;font-size:11px">
                        @*<div style="display:table-cell;">
                    <div></div>
                    <div>Appre</div>
                    <div>F.Exp</div>
                </div>*@
                        <div style="display:table-cell;background-color:lightsteelblue;">
                            <div style="text-align:center">Def.M</div>
                            <div style="margin-right: 5px;">@item.DefaultApprentices</div>
                            <div style="margin-right: 5px;">@item.DefaultFully_Experienced</div>
                        </div>
                        <div style="display:table-cell;background-color:aliceblue;">
                            <div style="text-align:center">Act.M</div>
                            <div style="margin-right: 5px;" onclick="listenForDoubleClick(this);" onblur="listenForBlur1(this);"  onkeydown="listenForKey(event,this);" data-default="@item.Apprentices" data-insID="@item.InsID">@item.Apprentices</div>
                            <div style="margin-right: 5px;" onclick="listenForDoubleClick(this);" onblur="listenForBlur2(this);" onkeydown="listenForKey(event,this);" data-default="@item.Fully_Experienced"  data-insID="@item.InsID">@item.Fully_Experienced</div>
                        </div>
                    </div>

                    <div style="display:table;width:100%;font-size:14px;background-color:beige;">
                        <div style="display:table-cell;width:50%;text-align:center;">
                            <div>H.Req</div>
                        </div>
                        <div style="display:table-cell;">
                            <div style="margin-right: 5px;" id="h5ins_@item.InsID">@string.Format("{0:F1}", item.TotalHours)</div>
                        </div>
                    </div>
                    <div style="display:table;width:100%;font-size:14px">
                        <div style="display:table-cell;width:50%;text-align:center">
                            <div>H.Ava</div>
                        </div>
                        <div style="display:table-cell;">
                            <div style="margin-right: 5px;font-weight:bold" id="h5ins1_@item.InsID" class="">@string.Format("{0:F1}", item.GrandTotal)</div>
                        </div>
                    </div>
                </div>
                @{
                    if (item.TotalHours > item.GrandTotal)
                    {
                        <text>
                            <script>
                                $("#h5ins1_" + @item.InsID).addClass('blink1');
                            </script>
                        </text>
                    }
                    else
                    {
                        <text>
                            <script>
                                $("#h5ins1_" + @item.InsID).removeClass('blink1');
                                $("#h5ins1_" + @item.InsID).css('color', 'black');
                            </script>
                        </text>
                    }
                }
            </div>
            <ul class="sortable-job" id="ul_@item.InsID" data-installer="@item.InstallerName" data-totaljobshours="@item.TotalHours" data-grandtotal="@item.GrandTotal" data-instalerid="@item.InsID">
                @foreach (var job in item.Jobs)
                {
                    if (!string.IsNullOrEmpty(job.JobID))
                    {
                        <li class="job_@job.ProcessID default_li shadow" data-jobID="@job.JobID" data-ClientID="@job.OpID" data-OriInstaller="@job.Installer" data-jobhours="@job.insHours.totalHours">
                            <div>
                                <table>
                                    <tr class="sortable-job-tr"><th>@job.JobID</th></tr>
                                    <tr><th>@job.Process</th></tr>
                                    <tr><th></th></tr>
                                    <tr><th>@job.ProductCategory</th></tr>
                                    <tr><th>@job.CompletionDate</th></tr>
                                    <tr><th>@job.Address1 @job.Address2</th></tr>
                                    <tr><th>@job.Suburb</th></tr>
                                    <tr><th>@job.City</th></tr>
                                </table>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    }
</div>



<script>


    $(function () {
        Movelist = [];
        $(".sortable-job").sortable({
            connectWith: ".sortable-job",
            placeholder: "highlight",
            forcePlaceholderSize: true,
            tolerance: "pointer",
            stop: function (event, ui) {
                CollectChanges(ui.item.context.dataset.clientid, ui.item.context.dataset.jobid, ui.item.context.dataset.oriinstaller, ui.item.context.parentNode.dataset.installer, ui.item.context.parentNode.dataset.totaljobshours, ui.item.context.dataset.jobhours, ui.item.context.parentNode.dataset.instalerid, ui.item.context.parentNode.dataset.grandtotal);
            },
            start: function (event, ui) {
                Sortstop(ui.item.context.parentNode.dataset.totaljobshours, ui.item.context.dataset.jobhours, ui.item.context.parentNode.dataset.instalerid, ui.item.context.parentNode.dataset.grandtotal);
            }
        });

        @{
            List<IWNTCRM.DANDYAIR.Entities.Process> list= Model.SelectMany(x => x.Jobs.Where(s => s.Process != null).GroupBy(c => new { c.ProcessID, c.Process }).Select(w => new IWNTCRM.DANDYAIR.Entities.Process(){ Code_Id = w.Key.ProcessID, Description = w.Key.Process})).ToList();
            var IList = list.GroupBy(c => new { c.Code_Id}).Select(w => new { Code_Id = w.Key.Code_Id, Description = System.Globalization.CultureInfo.InvariantCulture.TextInfo.ToTitleCase(w.FirstOrDefault().Description) });
            <text> var prodata = @Html.Raw(Json.Encode(IList))
                $("#proCheklist").empty();
                if (prodata.length == 0) {
                    $("#proCheklist").multiselect("disable");
                } else {
                    $.each(prodata, function (key, value) {
                        $('#proCheklist').append('<option value="' + value.Code_Id + '">' + value.Description + '</option>');
                    });
                    $('#proCheklist').multiselect('rebuild');

                }
            </text>
        }




    });

    function findJob(preInstaller) {
        return $.grep(Movelist, function (item) {
            return item._prevInstaller == preInstaller;
        }, true);
    };
    function Sortstop(totaljobshours, jobhours, instalerid, grandtotal) {
        console.log(grandtotal);
        var setTotal = parseFloat(totaljobshours) - parseFloat(jobhours);
        if (setTotal > parseFloat(grandtotal)) {
            $("#h5ins1_" + instalerid).addClass('blink1');
        } else {
            $("#h5ins1_" + instalerid).removeClass('blink1');
            $("#h5ins1_" + instalerid).css('color', 'black');
        }
        $("#h5ins_" + instalerid).text(setTotal);
        $("#ul_" + instalerid).attr('data-totaljobshours', setTotal);
    }
    function CollectChanges(ClientId, jobId, prevInstaller, newInstaller, totaljobshours, jobhours, instalerid, grandtotal) {

        var setTotal = parseFloat(totaljobshours) + parseFloat(jobhours);
        if (setTotal > parseFloat(grandtotal)) {
            $("#h5ins1_" + instalerid).addClass('blink1');
        } else {
            $("#h5ins1_" + instalerid).removeClass('blink1');
            $("#h5ins1_" + instalerid).css('color', 'black');
        }
        $("#h5ins_" + instalerid).text(setTotal);
        $("#ul_" + instalerid).attr('data-totaljobshours', setTotal);

        Movelist = findJob(prevInstaller);
        if (prevInstaller != newInstaller) {
            var insObj = new NewInstaller(ClientId, jobId, prevInstaller, newInstaller);
            Movelist.push(insObj);
        }
        if (Movelist.length > 0) {
            $("#SaveChanges").removeClass("btn btn-default").addClass("btn btn-primary");
            $("#SaveChanges").removeAttr('disabled');
        } else {
            $("#SaveChanges").removeClass("btn btn-primary").addClass("btn btn-default");
            $('#SaveChanges').attr("disabled", "disabled");
        }
    }

    class NewInstaller
    {
        constructor(clientid, jobid, prevInstaller, newInstaller) {
            this._clientid = clientid;
            this._jobid = jobid;
            this._prevInstaller = prevInstaller;
            this._newInstaller = newInstaller;
        }
    }

    function listenForDoubleClick(element) {
        element.contentEditable = true;
        setTimeout(function () {
            if (document.activeElement !== element) {
                element.contentEditable = false;
            }
        }, 300);
    }

    function listenForKey(e, element) {
        if (e.which != 8 && e.which != 35 && e.which != 36 && e.which != 37 && e.which != 38 && e.which != 39 && e.which != 40 && e.which != 46 && element.innerHTML.length > 1) {
            e.preventDefault();
        }
    }
    function listenForBlur1(element) {

        var defaultVal = $(element).attr("data-default")
        var insID = $(element).attr("data-insID")
        if (isNaN(element.innerHTML) || element.innerHTML == "")
        {
            alert("ERROR: Invalid entry.")
            element.innerHTML = defaultVal
            return
        }
        UpDateActualManning(insID, element.innerHTML,"Fun1")
    }
    function listenForBlur2(element) {
        var defaultVal = $(element).attr("data-default")
        var insID = $(element).attr("data-insID")
        if (isNaN(element.innerHTML) || element.innerHTML == "")
        {
            alert("ERROR: Invalid entry.")
            element.innerHTML = defaultVal
            return
        }
        UpDateActualManning(insID, element.innerHTML, "Fun2")
    }

    function UpDateActualManning(insID, value, funSig) {
        var url = "";
        if (funSig == "Fun1")
             url = "@Url.Action("UpdateActualManning_ForApprentices")"
        else
             url = "@Url.Action("UpdateActualManning_ForFullyExperienced")"
        $.ajax({
            url: url,
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ "code_id": insID,"value": value }),
            processData: false,
            cache: false,
            success: function (data) {
                $("#h5ins1_" + insID).text(data.gTotal)
                $("#ul_" + insID).attr("data-grandtotal", data.gTotal)
                var totaljobshours = $("#ul_" + insID).attr("data-totaljobshours");
                if (totaljobshours > data.gTotal) {
                    $("#h5ins1_" + insID).addClass('blink1');
                }
                else
                {
                    $("#h5ins1_" + insID).removeClass('blink1');
                    $("#h5ins1_" + insID).css('color', 'black');
                }
            },
            error: function(xhr) {
                alert('error');
            }
        });
    }

</script>

<style>
    .jheaderdiv {
        height: 115px;
        background: rgb(121, 121, 121);
        border-radius: 5px 16px;
        border-style: solid;
        border-color: darkgrey;
        margin-top: 8px;
    }
    .jheaderdiv1 {
        color: white;
        margin-left: 4px;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    .jheaderdiv2 {
        background: white;
        text-align: right;
        margin-left: 6px;
        margin-right: 5px;
        border-radius: 5px 0px 0px 5px;
    }

    .sortable-job {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        padding-left: 0;
        width: 90%;
    }

        .sortable-job li {
            margin: 0 3px 3px 0;
            font-size: 10px;
            border-radius: 10px;
            padding: 5px;
            margin-top: 10px;
            /*padding: 0.4em;*/
            /*padding-left: 1.5em;
            font-size: 17px;
            height: 16px;*/
        }

    .sortable-job-tr {
        background: #949494;
        color: white;
    }

    .highlight {
        border: 1px solid #000000;
        font-weight: bold;
        font-size: 45px;
        background-color: #cedc98;
    }

    .default_li {
        background: #dcdcdc;
        border: 1px solid #DDDDDD;
        color: #333333;
    }

    .wrap {
        width: 100%;
        overflow: auto;
        display: -webkit-box;
        height: 100%;
    }

    .wrap1 {
        /*float: left;*/
        width: 165px;
        margin-left: 1%;
        padding-left: 1%;
        padding-right: 1%;
        background: #f3f3f3;
    }

    .highlight {
        border: 1px solid red;
        font-weight: bold;
        font-size: 45px;
        background-color: #333333;
    }

    .shadow {
        -webkit-box-shadow: 10px 8px 15px -4px rgba(0,0,0,0.81);
        -moz-box-shadow: 10px 8px 15px -4px rgba(0,0,0,0.81);
        box-shadow: 10px 8px 15px -4px rgba(0,0,0,0.81);
    }

    .blink1 {
        animation-duration: 1200ms;
        animation-name: blink1;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        -webkit-animation: blink1 1000ms infinite; /* Safari and Chrome */
    }

    @@keyframes blink1 {
        from {
            color: red;
        }

        to {
            color: white;
        }
    }

    @@-webkit-keyframes blink1 {
        from {
            color: red;
        }

        to {
            color: white;
        }
    }
</style>

