﻿@model IWNTCRM.DANDYAIR.Entities.InstallerBookings

<h2>Bookings</h2>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>



<script>
    var Movelist = [];
    var options = [];
    var InsList = [];

    function GetJobs(date)
    {
        options = [];
        $.ajax({
            url: '@Url.Content("~/")' + "Booking/GetJobs",
            dataType: "text",
            type: "GET",
            traditional: true,
            data: { tDate: date},
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#JobsDiv').html(data);
                HideInstallers();
                Close_waitMe();
            },
            error: function () {

            }
        });

    }

     function FillProcesses(date) {

          $.ajax({
            url: '@Url.Content("~/")' + "Booking/FillProcesses",
            dataType: "json",
            type: "GET",
            async: true,
            data: { tDate: date },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#proCheklist").empty();
                if (data.pList.length == 0) {
                    $("#proCheklist").multiselect("disable");
                } else {
                    $.each(data.pList, function (key, value) {
                        $('#proCheklist').append('<option value="' + value.Code_Id + '">' + value.Description + '</option>');
                    });
                    $('#proCheklist').multiselect('rebuild');

                }

                Close_waitMe();
            },
            error: function () {

            }
        });

    }

     function FillInstallers() {
         var date = $('#datepicker').datepicker('getDate');
          $.ajax({
            url: '@Url.Content("~/")' + "Booking/FillInsatllers",
            dataType: "json",
            type: "GET",
            data: { tDate: $.datepicker.formatDate("dd/mm/yy", date)},
            async: true,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#insCheklist").empty();
                if (data.iList.length == 0) {
                    $("#insCheklist").multiselect("disable");
                } else {
                    InsList = [];
                    $.each(data.iList, function (key, value) {
                        $('#insCheklist').append('<option value="' + value.Code_Id + '">' + value.installer + '</option>');
                        if (value.Checked) {
                            InsList.push(value.Code_Id)
                        }
                    });
                    $('#insCheklist').multiselect('rebuild');
                    $('#insCheklist').multiselect('select', InsList);
                }

                GetJobs($.datepicker.formatDate("dd/mm/yy", date));
                //FillProcesses($.datepicker.formatDate("dd/mm/yy", date));
                Close_waitMe();
            },
            error: function () {

            }
        });

    }

     function FilterByInstaller(codeId, IsCheked) {
         if (IsCheked) {
             InsList.push(codeId);
         } else {
             var index = InsList.indexOf(codeId);
             if (index > -1) {
                 InsList.splice(index, 1);
             }
         }
         HideInstallers();
         //var date = $('#datepicker').datepicker('getDate');
         //GetJobs($.datepicker.formatDate("dd/mm/yy", date));

     }


     function FilterByProcess(codeId, IsCheked)
     {
         if (IsCheked)
         {
             options.push(codeId);
         } else
         {
             var index = options.indexOf(codeId);
             if (index > -1) {
                 options.splice(index, 1);
             }
         }
         HideJobs();
         //var date = $('#datepicker').datepicker('getDate');
         //GetJobs($.datepicker.formatDate("dd/mm/yy", date));
     }

     function HideInstallers() {
         if (InsList.length == 0) {
             $('.wrap1').hide()
         } else {
             $('.wrap1').hide()
             $.each(InsList, function (key, value) {
                 $('#ins_' + value).show()
             });
         }
     }

     function HideJobs() {
         if (options.length == 0) {
             $('.default_li').show()
         } else {
             $('.default_li').hide()
             $.each(options, function (key, value) {
                 $('.job_' + value).show()
             });
         }
     }

     $(function () {

         $('#insCheklist').multiselect({
             //includeSelectAllOption: true,
             nonSelectedText: 'Select Installers...',
             onChange: function (insatller, checked) {
                 FilterByInstaller(insatller.context.value, checked)
             },
             //onSelectAll: function () {

             //}

         });

         $('#proCheklist').multiselect({
             //includeSelectAllOption: true,
             nonSelectedText: 'No option selected ...',
             onChange: function (option, checked) {
                 FilterByProcess(option.context.value, checked)
             },
             //onSelectAll: function () {

             //}

         });




         $("#SaveChanges").removeClass("btn btn-primary").addClass("btn btn-default");
         $('#SaveChanges').attr("disabled", "disabled");

        $("#datepicker").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            buttonImage: '@Url.Content("~/")' + "Content/images/icons8.png",
            buttonImageOnly: true,
            showOn: "button",
            buttonText: "Select date",
            onSelect: function (date, inst) {
                GetJobs(date);
               // FillProcesses(date);
            }

        });
        $("#datepicker").datepicker('setDate', new Date());

        $("#prev").click(function () {
            var date = $('#datepicker').datepicker('getDate', '-1d');
            date.setDate(date.getDate() - 1);
            $('#datepicker').datepicker('setDate', date);
            GetJobs($.datepicker.formatDate("dd/mm/yy", date));
            //FillProcesses($.datepicker.formatDate("dd/mm/yy", date))
        })

        $("#prevwk").click(function () {
            var date = $('#datepicker').datepicker('getDate', '-7d');
            date.setDate(date.getDate() - 7);
            $('#datepicker').datepicker('setDate', date);
            GetJobs($.datepicker.formatDate("dd/mm/yy", date));
            //FillProcesses($.datepicker.formatDate("dd/mm/yy", date))
        })

        $("#next").click(function () {
            var date = $('#datepicker').datepicker('getDate', '+1d');
            date.setDate(date.getDate() + 1);
            $('#datepicker').datepicker('setDate', date);
            GetJobs($.datepicker.formatDate("dd/mm/yy", date));
            //FillProcesses($.datepicker.formatDate("dd/mm/yy", date))
        })

        $("#nextwk").click(function () {
            var date = $('#datepicker').datepicker('getDate', '+7d');
            date.setDate(date.getDate() + 7);
            $('#datepicker').datepicker('setDate', date);
            GetJobs($.datepicker.formatDate("dd/mm/yy", date));
            //FillProcesses($.datepicker.formatDate("dd/mm/yy", date))
        })
        $("#SaveChanges").click(function () {
            run_waitMe();
              $.ajax({
                        url: "@Url.Action("SaveChanges")",
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(Movelist),
                        processData: false,
                        cache: false,
                        success: function (data) {
                            $("#SaveChanges").removeClass("btn btn-primary").addClass("btn btn-default");
                            $('#SaveChanges').attr("disabled", "disabled");
                            Close_waitMe();
                        },
                        error: function (xhr) {
                            alert('error');
                        }
                    });

        })
        run_waitMe();
        FillInstallers();
      //  FillProcesses();
     });


     function run_waitMe() {
         $('#JobsDiv').waitMe({
             effect: "roundBounce",
             text: "Please wait..",
             bg: "rgba(255, 255, 255, 0.7)",
             color: "#000"
         });

     }
     function Close_waitMe() {
         $('#JobsDiv').waitMe('hide');
     }

</script>
<div id="MianId" style="margin-left:14px">
    <a href="#" class="btn btn-default" id="prevwk"><span class="glyphicon glyphicon-fast-backward"></span></a>
    <a href="#" class="btn btn-default" id="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <input type="text" id="datepicker" style="height: 32px;" readonly>
    <a href="#" class="btn btn-default" id="next"><span class="glyphicon glyphicon-chevron-right"></span> </a>
    <a href="#" class="btn btn-default" id="nextwk"><span class="glyphicon glyphicon-fast-forward"></span> </a>
    <a href="#" class="btn btn-default" style="float:right" id="SaveChanges"><span class="glyphicon glyphicon-floppy-disk"></span> Save Changes</a>
    <select class="form-control" id="insCheklist" multiple="multiple"></select>
    <select class="form-control" id="proCheklist" multiple="multiple"></select>
</div>
 <div id="JobsDiv" style="margin-top:20px;height:80%"></div>


<style>
    #MianId img {
        width: 32px;
    }
</style>

