﻿@model IWNTCRM.DANDYAIR.Entities.Units
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<div class="modal fade" id="UnitPartialModal" role="dialog">
    <div class="modal-dialog" style="max-width:345px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Unit</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateUnit", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "UnitFormCallback(data,status,xhr)" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NofPotints, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.NofPotints, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                            @Html.ValidationMessageFor(model => model.NofPotints, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NofStories, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.NofStories, Model.NoS, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NofZones, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.NofZones, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                            @Html.ValidationMessageFor(model => model.NofZones, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.RIN_Hours, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.RIN_Hours, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RIN_Hours, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FO_Hours, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.FO_Hours, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FO_Hours, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.C_B_Hours, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.C_B_Hours, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.C_B_Hours, "", new { @class = "text-danger" })
                        </div>
                </div>*@
                </div>

                    <div class="modal-footer" style="padding-right:4px">
                        <input type="submit" value="Update" class="btn btn-info" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





