﻿<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css">
<script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<div class="container">
    <br />

    <div style="width:90%; margin:0 auto;">
        <div style="text-align:right"><a href="#" class="btn btn-primary btn-primary" onclick=AddUnit();>Add Unit <span class="glyphicon glyphicon-plus-sign"></span></a></div>
            <div style="margin-top:10px;">
                <table id="unitslist" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Unit</th>
                            <th>Number of Stories</th>
                            <th>Number of Points</th>
                            <th>Number of Zones</th>
                            @*<th>RIN Hours</th>
                            <th>F/O Hours</th>
                            <th>C&B Hours</th>*@
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

<div id="UnitModal"></div>

<script>

        $(document).ready(function ()
        {
            $("#unitslist").DataTable({
                "processing": true,
                "orderMulti": false,
                "ajax": {
                    "url": "/Unit/PopulateData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },

                    {
                        "targets": [5],
                        "orderable": false,
                    },

                    {
                        "targets": [6],
                        "orderable": false,
                    },
                ],
                "columns": [
                    { "data": "u_ID", "name": "u_ID", "autoWidth": true },
                    { "data": "Unit", "name": "Unit", "autoWidth": true },
                    { "data": "NofStories", "name": "NofStories", "autoWidth": true },
                    { "data": "NofPotints", "name": "NofPotints", "autoWidth": true },
                    { "data": "NofZones", "name": "NofZones", "autoWidth": true },
                    {
                        "render": function (data, type, fulldata)
                        {
                            return "<a href='#' class='btn btn-info' onclick=EditData('" + fulldata.u_ID + "'); ><span class='glyphicon glyphicon-pencil'></span></a>";
                        }
                    },
                    {
                        data: null, render: function (data, type, fulldata)
                        {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + fulldata.u_ID + "'); ><span class='glyphicon glyphicon-trash'></span></a>";
                        }
                    },
                ]

            });
        });


    function DeleteData(rowID)
        {
        if (confirm("Do you wish to delete this entry ?"))
            {
                     $.ajax({
                        url: '@Url.Content("~/")' + "Unit/DeleteUnit",
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ "rawID": rowID }),
                        processData: false,
                        cache: false,
                        success: function (data) {
                            $('#unitslist').DataTable().ajax.reload();
                        },
                        error: function (xhr) {
                            alert('error');
                        }
                    });
            }
            else
            {
                return false;
            }
        }

    function EditData(rowID)
    {
        $.ajax({
            url: '@Url.Content("~/")' + "Unit/EditUnit",
            dataType: "text",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ "rawID": rowID }),
            success: function (data) {
                $('#UnitModal').html(data);
                $('#UnitPartialModal').modal('show');
            },
            error: function () {

            }
        });

    }

    function AddUnit()
    {
        $.ajax({
            url: '@Url.Content("~/")' + "Unit/AddNewUnit",
            dataType: "text",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#UnitModal').html(data);
                $('#UnitPartialModal').modal('show');
            },
            error: function () {

            }
        });

    }

    function UnitFormCallback(data, status, xhr) {
        $('#UnitPartialModal').modal('hide');
        $('#unitslist').DataTable().ajax.reload();
    }
</script>

