﻿@model IWNTCRM.DANDYAIR.Entities.Installer
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<div class="modal fade" id="InsPartialModal" role="dialog">
    <div class="modal-dialog" style="max-width:345px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Installer</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateInstaller", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "InsFormCallback(data,status,xhr)" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.InsId)
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.InstallerName, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.InstallerName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Apprentices, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Apprentices, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Apprentices, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Hours_per_Apprentice, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Hours_per_Apprentice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Hours_per_Apprentice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fully_Experienced, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Fully_Experienced, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Fully_Experienced, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Hours_per_Experienced, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Hours_per_Experienced, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Hours_per_Experienced, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="padding-right:4px">
                        <input type="submit" value="Submit" class="btn btn-info" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>