﻿<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css">
<script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="container">
    <br />

    <div style="width:90%; margin:0 auto;">
        <div style="text-align:right"><a href="#" class="btn btn-primary btn-primary" onclick=AddInstaller();>Add Installer <span class="glyphicon glyphicon-plus-sign"></span></a></div>
        <div style="margin-top:10px;">
            <table id="installerlist" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Installer</th>
                        <th>Apprentices</th>
                        <th>Hours per Apprentice</th>
                        <th>Fully Experienced</th>
                        <th>Hours per Experienced</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="InsModal"></div>
<script>
    var InsCods;
    $(document).ready(function () {
        $("#installerlist").DataTable({
            "processing": true,
            "orderMulti": false,
            "ajax": {
                "url": "/Installer/PopulateData",
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (json) {
                    InsCods = json.codsData;
                    return json.data;
                }
            },
            "columnDefs":
            [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },

                {
                    "targets": [6],
                    "orderable": false,
                },

                {
                    "targets": [7],
                    "orderable": false,
                },
            ],
            "columns": [
                { "data": "InsId", "name": "InsId", "autoWidth": true },
                { "data": "InstallerName", "name": "InstallerName", "autoWidth": true },
                { "data": "DefaultApprentices", "name": "Apprentices", "autoWidth": true },
                { "data": "Hours_per_Apprentice", "name": "Hours_per_Apprentice", "autoWidth": true },
                { "data": "DefaultFully_Experienced", "name": "Fully_Experienced", "autoWidth": true },
                { "data": "Hours_per_Experienced", "name": "Hours_per_Experienced", "autoWidth": true },
                {
                    "render": function (data, type, fulldata) {
                        return "<a href='#' class='btn btn-info' onclick=EditInsData('" + fulldata.InsId + "'); ><span class='glyphicon glyphicon-pencil'></span></a>";
                    }
                },
                {
                   "render": function (data, type, fulldata) {
                        return "<a href='#' class='btn btn-danger' onclick=DeleteInsData('" + fulldata.InsId + "'); ><span class='glyphicon glyphicon-trash'></span></a>";
                    }
                },
            ]

        });
    });

    function DeleteInsData(rowID)
    {
        if (confirm("Do you wish to delete this entry ?"))
            {
                     $.ajax({
                        url: '@Url.Content("~/")' + "Installer/DeleteInstaller",
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ "rawID": rowID }),
                        processData: false,
                        cache: false,
                        success: function (data) {
                            $('#installerlist').DataTable().ajax.reload();
                        },
                        error: function (xhr) {
                            alert('error');
                        }
                    });
            }
            else
            {
                return false;
            }
    }

    function EditInsData(rowID)
    {
        $.ajax({
            url: '@Url.Content("~/")' + "Installer/EditInstaller",
            dataType: "text",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ "rawID": rowID }),
            success: function (data) {
                $('#InsModal').html(data);
                $('#InsPartialModal').modal('show');
            },
            error: function () {

            }
        });

    }

    function AddInstaller()
    {
        $.ajax({
            url: '@Url.Content("~/")' + "Installer/AddNewInstaller",
            dataType: "text",
            type: "POST",
            data: JSON.stringify({ "InsCods": InsCods}),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#InsModal').html(data);
                $('#InsPartialModal').modal('show');
            },
            error: function () {

            }
        });

    }
    function InsFormCallback(data, status, xhr) {
        $('#InsPartialModal').modal('hide');
        $('#installerlist').DataTable().ajax.reload();
    }
</script>